<%- include('partials/header') -%>
<style>
    body{
        margin: 3rem 18rem;
    }
    form{
    display: inline-block;
    }
    form input{
    width: 105rem;
    }
    label{
        padding:1rem;
    }
</style>
<body>
    <br>
    <form>
    <label>Your Name:
     </label>
     <input type="text" id="creator" required>

<br>
     <label>Topic: 
     </label>
    <input type="text" id="subject" required >
    <button type="Submit" id="confirm"class="btn">Confirm</button>
 <br> 
 <div id="questions">  
    <label>Questions: 
    </label>
    <input type="text" name="question" id ="question" required>
    
<br>
      <label>Corect Answer: 
    </label>
    <input type="text" name="correctchoice" id="correctchoice" required>
    
<br>
    <label>Incorrect Choice 1 :
    </label>
    <input type="text" name="choice1" id="choice1" required>
    
<br>
    <label>Incorrect Choice 2 : 
    </label>
    <input type="text" name="choice2" id="choice2" required>
    
<br>
    <label>Incorrect Choice 3: 
    </label>
    <input type="text" name="choice3" id="choice3" required>

<br>
</div>
<button class="btn" id="add">Add</button>
<button id="submit" class="btn">Submit</button>
</form>
</body>

<script src="javascripts/create_custom_quiz.js" ></script> 