<%- include('partials/header') -%>


<h1 id="he">High Scores</h1>
<div class="row text-center ">
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
<% uscore.forEach(function(user){   %>
  <tr>
                 <td><%=  user.username %></td>
                 <td><%=  user.score %></td>
  </tr>
          
                 <%  }) ; %>    
                    
                    
    </table>

</div>
<%- include('partials/footer') -%>
 