   <%- include('partials/header') -%>
   <title>High Scores</title>
        <link rel="stylesheet" href="stylesheets/app.css" />
        <link rel="stylesheet" href="stylesheets/highscores.css" />
    </head>
    <body>
        <div class="container">
            <div id="highScores" class="flex-center flex-column">
                <h1 id="finalScore">High Scores</h1>
                 <ul id="highScoresList"></ul>
                <a href="/" class="btn">Go Home</a>
            </div>
        </div>
        <script src="javascripts/highscores.js"></script>
         <script src="javascripts/game.js"></script>
   <%- include('partials/footer') -%>
