<%- include('partials/header') -%>




    <h1 id="he">||Score Board||</h1>

<div class="row text-center ">
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
<% uscore.forEach(function(user){   %>
  <tr>
                 <td id="name"><%=  user.username %></td>
                 <td><%=  user.score %></td>
  </tr>
          
                 <%  }) ; %>    
                    
                    
    </table>

</div>
<%- include('partials/footer') -%>
 