<%- include('partials/header') -%>
    <title>Quizeeks</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
</head>
<body>
    <div class="container">
        <div id="home" class="flex-center flex-column">
            <h1>Quizeeks</h1>
            <% if (user) {%> 
            <p>Hello <%=user.name%></p>
            <% } %> 
            <label>Cateogory: 
            </label>
            <a  href="/game?cat=19" class="btn" >Maths </a>
            <a  href="/game?cat=21" class="btn">Sports </a    >      
            <a  href="/game?cat=18" class="btn">Computer<a>
            <a  href="/game?cat=23" class="btn">History </a>
            <br><br><br>
            <!-- <a href="/game" class="btn" disabled>Play</a> -->
            <a href="/custom-quiz" class="btn">Create a Custom Quiz</a>
            <a href="/highscores" class="btn">High Scores</a>     
            <% if (user) {%> 
            <a href ="/logout"class="btn" type = "submit">Log Out</a>
            <% } %>   
        </div>
    </div>

    <!-- <%- include('partials/footer') -%> -->