   <%- include('partials/header') -%>
    <title>Quizeeks</title>
        <link rel="stylesheet" href="stylesheets/app.css" />
    </head>
    <body>
        <div class="container">
            <div id="home" class="flex-center flex-column">
                <h1>Quizeeks</h1>
                <a href="/game" class="btn">Play</a>
                <a href="/highscores" class="btn">High Score s</a>        
                    <a href ="/logout"class="btn" type"submit">LogOut</a>
       
            </div>
        </div>
          <%- include('partials/footer') -%>
          