<%- include('partials/header') -%>

<h1>LOGIN</h1>
<% if(messages.error){ %>
	<%= messages.error %>
<% } %>
<div class="loginform"></div>
<form action="/login" method="POST">
	
	<label for="email">Email</label>
	<input type="email" name="username" id="username" required>
	<label for="password">Password</label>
	<input type="password" name="password" id="password" required>
	<button class="btn" type="submit">Login</button>
</form>
<a class="btn"href="/register">Register</a>

<%- include('partials/footer') -%>