<form method="POST" action="/changepassword">
    
<label>Old Password: </label>
<input type="password" id="oldpass"  name="oldpass">
<label>New Password: </label>
<input type="password" id="newpass"  name="newpass">
<button type="submit">Change Password</button>
</form>