<%- include('partials/header') -%>
<h1>Register</h1>
<form action="/register" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" required>
	<label for="username">Email</label>
	<input type="email" name="username" id="username" required>
	<label for="password">Password</label>
	<input type="password" name="password" id="password" required>
	<button type="submit">Register</button>

	
</form>
<!-- <% if (locals.errors) { %>
    <ul>
        <% Object.values(errors).forEach(function(error){ %>
              <li><%= error.msg %></li>
        <% }); %>
    </ul>
	<% } %> -->
	<%if(typeof error == "undefined"){%>
        
		<% } else { %>
			   
			   <h5><%= error.message%></h5>  
		   <%}%>
<a class="btn" href="/login">Login</a>
<%- include('partials/footer') -%>