:root {
    font-size: 62.5%;
    background-color: #181A1B;
    color: #D2CEC8;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    background-color: #242C3A;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar .logo {
    display: flex;
    padding: 1rem;
    align-items: center;
}

#navbar .logo .logo-text {
    color: #D2CEC8;
    font-size: 2rem;
    padding-left: 1rem;
}

#navbar .logo .logo-icon {
    width: 5rem;
}

.nav-items {
    list-style: none;
    display: flex;
    font-size: 1.6rem;
    height: 100%;
}

.nav-items li {
    padding: 1rem;
    margin: 1rem 0;
    color: #B0A99F;
}

.nav-items li a {
    color: #B0A99F;
}

.nav-items .active-user .user-options{
    display: none;
    position: absolute;
    right: -1.5rem;
    width: 20vw;
    top: 7rem;
    margin-right: 3rem;
    background-color: #242C3A;
    border-radius: .5rem;
}

.nav-items .active-user .username{
    display: flex;
}

.nav-items .active-user .username img{
    width: 1.9rem;
    color: #B0A99F;
    padding-left: .5rem;
}

.nav-items .active-user .username:hover{
    cursor: pointer;
}

.nav-items .active-user:hover .user-options{
    cursor: pointer;
    display: block;
}

.nav-items .btn-nav {
    background-color: #1F2223;
    padding: 1rem;
    border-radius: 1rem;
}

.nav-items .btn-nav:hover {
    background-color: #242729;
}

#header {
    height: 100vh;
}

#showcase {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#showcase .showcase-img{
    width: 40rem;
}

#showcase .showcase-desc{
    color: #D2CEC8;
    font-size: 1.5rem;
    width: 40vw;
}

#showcase .showcase-desc h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#showcase .showcase-desc p{
    margin-bottom: 5rem;
}

#showcase .showcase-desc .play-btn,
#showcase .showcase-desc .custom-quiz-btn  {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

#showcase .showcase-desc .play-btn {
    background-color: #19619D;
    color: #E8E6E3;
    margin-right: 2rem;
}

#showcase .showcase-desc .custom-quiz-btn {
    background-color: #1F2223;
    color: #B0A99F;
}

/* Categories Section  */

#categories-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
}

#categories-section h2 {
    font-size: 3rem;
    padding: 2rem;
    margin: 5rem;
    margin-top: 0;
}

#categories-section .categories {
    padding: 2rem;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: 100%;
}

#categories-section .categories .category{
    padding: 5rem 10rem;
    margin: 1rem;
    font-size: 2rem;
    border: 0.5rem solid #22374C;
    border-radius: 1rem;
    background: transparent;
    color: #D2CEC8;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

#categories-section .categories .category:hover{
    background: #19619D;
}

/* Footer */

#footer {
    display: flex;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    align-items: center;
    color: #B0A99F;
}

.logo {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.logo .logo-text {
    font-size: 2rem;
    padding-left: 1rem;
    color: #B0A99F;
    
}

#footer .logo .logo-text {
    border-right: 2px solid #19619D;
    padding-right: 1rem;
}
.logo .logo-icon {
    width: 5rem;
}

#footer p a{
    color: #9A9184;
}